body{
    background-image: url(wallpaper.jpg);
    background-repeat:no-repeat;
    padding-bottom: 10px;
}
header{
    padding-top: 3%;
}

h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    margin: auto;
    padding-left: 40px;
    padding-top: 60px;
    font-family:'Franklin Gothic Medium';
}
.resilia{
    text-decoration: none;
    color: white;
    padding-left: 30px;
 
}

.coisas li{
    margin-top: 5%;
    display: inline-block;
    vertical-align: top;

}
.frase {
    text-align: left;
    width: 60%;
    padding-left: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-weight: bold;
    font-size: 55px;
}
.mercado{
    color: black;
    margin: 0%;
    padding: 0%;
   
    
}
span{
    text-decoration: underline white;
}
h3{
    font-size: 20px;
    padding-top: 20px;
    padding-right: 35%;
}
.verdade{
    color: rgb(65, 65, 65);
    margin: 0%;
    padding-bottom: 3px;
}
.empresas{
    text-align: center;
    padding-left: 20%;
    padding-bottom:0%;
    margin-top: 0%;
}


img{
    border-radius: 20px;
    width: 50px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 10px;
}

.formulario{
    padding-left: 45px;
    padding-right: 70px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
    font-size: 17px;
    width: 25%;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;

}

h4{
    padding: 10px;
    padding-bottom: 10px;

}
input{
    margin: auto;
    padding-left: 10px;
    padding-right: 175px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px; 
    color: gray;
    background-color: rgb(238, 231, 231);
    font-family:Arial, Helvetica, sans-serif;
}
select{
    margin: auto;
    padding-left: 10px;
    padding-right: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px; 
    color: gray;
    background-color: rgb(238, 231, 231);
}
.politica{
    text-decoration: none;
    color: rgb(155, 207, 228);
}
.sim{
    margin: auto;
    padding-left: 10px;
    padding-right: 92%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px; 
    color: gray;
    background-color: rgb(238, 231, 231);
}
.enviar{
    padding-top: 10px;
    padding-bottom: 10px;
}
.botao input{ 
    margin: auto;
    padding-left: 50%;
    padding-right: 50%;
    background-color: yellow;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium';
}